spring:
  datasource:
    url: jdbc:mysql://localhost:3306/todo1?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
#    serverTimezone=Asia/Shanghai使用上海时区 之前是使用UTC时区，但是插入数据库会和电脑时间不一样，少8个小时 ---李
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.mchange.v2.c3p0.ComboPooledDataSource
    password: 123456
  redis:
    host: 127.0.0.1
    port: 6379
    password:
    cache:
      redis:
        time-to-live: 3000
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    use-generated-keys: true      #开启自增组件
  mapper-locations:
    classpath:mapper/*.xml,classpath:edu.zsc.todolistproject/*.xml


