<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" th:href="@{/css/page.css}"  media="screen,projection"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body>

   <div id="board_info">
      <div class="project_name">Board</div>
   </div>

   <div id="board_canvas" class="list_sortable">
      <div class="list_wrapper">
        <div class="list_content z-depth-1">
            <div class="list_header">
              <textarea class="list_header_name" placeholder="First Todo"></textarea>
            </div>

            <div class="list_cards">
            </div>

             <div class="card_composer">
                <div class="add_card_form">
                  <textarea class="list_card_composer_textarea"></textarea>
                   <a class="waves-effect  waves-light btn card_save blue-grey lighten-5">save</a>
                   <a class="waves-effect waves-light btn card_cancel blue-grey lighten-5">cancel</a>
                </div>
                <a class="add_card" href="#">Add a Card...</a>
            </div>

        </div>
      </div>

      <div class="add_list not_sortable" >
         <a class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">add</i>
          </a>
            <form class="add_list_form">
              <div class="input-field col s12">
                  <input id="add_list" type="text" class="validate">
                    <label for="list_name">Add a list...</label></br>
                     <a class="waves-effect waves-light btn save blue-grey lighten-5">save</a>
                    <a class="waves-effect waves-light btn cancel blue-grey lighten-5">cancel</a>
              </div>
            </form>
      </div>

</div>

<!-- Modal Structure -->
<div id="modalLayer" class="z-depth-1">
 <button type="button" class="close_button">X</button>
 <div class="modal_content">
       <p class="card_title_in_modal">{{card_title}}</p>

        <div class="list_name_wrapper">
            <span class="in_list">in list</span>
            <span class="list_name">{{list_name}}</span>
        </div>

        <p>Add comment</p>
        <div class="comment_frame">
             <textarea class="comment_contents z-depth-1" placeholder="Write a comment..."></textarea>
        </div>
        <div class="comment_send">Send</div></br>

        <p>Activity</p>
        <div class="comments">

        </div>
</div>

 <div class="modal_sidebar">

          <p>Add</p>
          <div class="modal_sidebar_btn z-depth-1 members_btn">Members</div>

              <div class="modal_for_members z-depth-1">
                <div class="members_btn_header">Members</div>
                <div class="search_member">
                  <input type="text" placeholder="Search members" />
                </div>
              </div>

          <div class="modal_sidebar_btn z-depth-1 due_date_btn"> Due Date</div>
            <div class="modal_for_due_date z-depth-1">
                <div class="due_date_btn_header">Change Due Date</div>
                  <form class="dpicker_widget">
                  <div class="datapicker_select_date">
                      <label for="date">Date</label></br>
                      <input id="date" class="datepicker datapicker_select_input" type="date" placeholder="17/6/2016"/>
                  </div>

                  <div class="datapicker_select_time">
                      <label for="time">Time</label></br>
                      <input id="time" class="datapicker_select_input" type="text" placeholder="12:00" tabindex="101"/>
                  </div>

                </form>
            </div>

          <div class="modal_sidebar_btn z-depth-1 checklist_btn">Checklist</div>

              <div class="modal_for_checklist z-depth-1">
                  <div class="checklist_btn_header">添加清单</div>
                  <label for="checklist">清单名称</label>
                  <input type="text" name="title" placeholder="请输入清单名称" id="checklist">

                    <div class="link_submit z-depth-1">添加</div>
              </div>

            <div class="modal_sidebar_btn z-depth-1 file_attachment">Attachment</div>

              <div class="modal_for_attachment z-depth-1">
                    <div class="attachment_btn_header">Attach</div>
                    <input type="file" id="fileUpload" name="files[]" />
                    <div class="attach_from_computer">Computer</div>
                    <div class="attach_with_link">Attach a link</div>
                    <input type="text" class="link_for_attachment" placeholder="Paste any link here..." />
                    <div class="link_submit z-depth-1">Attach</div>
              </div>

  </div>

</div>
  <script src="webjars/jquery/3.5.0/jquery.min.js"></script>
  <script src="webjars/jquery-ui/1.12.0/jquery-ui.min.js"></script>
  <script th:src="@{/lib/jquery.fileupload.js}"></script>
  <script th:src="@{/lib/handlebars-v4.0.5.js}"></script>
  <script type="text/javascript" th:src="@{/lib/materialize.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/page.js}"></script>
</body>
</html>