.add-attachment-section {
    height: 48px;
    border: 2px dashed #b3bac5;
    border-radius: 2px;
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
    color: #7a869a
}

.attachment-thumbnail {
    border-radius: 3px;
    min-height: 80px;
    margin: 0 0 8px;
    overflow: hidden;
    position: relative
}

.attachment-thumbnail.placeholder {
    border-radius: 3px
}

.attachment-thumbnail.placeholder, .attachment-thumbnail:hover .attachment-thumbnail-details {
    background-color: rgba(9, 30, 66, .04)
}

.attachment-thumbnail.ui-sortable-helper .attachment-thumbnail-details {
    background-color: #f4f5f7 !important;
    opacity: .85
}

.attachment-thumbnail.ui-sortable-helper .attachment-thumbnail-details, .attachment-thumbnail.ui-sortable-helper .attachment-thumbnail-preview {
    cursor: grabbing
}

.attachment-thumbnail-processing {
    background-color: rgba(9, 30, 66, .04);
    color: #5e6c84;
    line-height: 80px;
    text-align: center
}

.attachment-thumbnail-processing .spinner {
    display: inline-block;
    transform: translateY(3px)
}

.attachment-thumbnail-preview {
    background-color: rgba(9, 30, 66, .04);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    height: 80px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    width: 112px
}

.attachment-thumbnail-preview-power-up-logo {
    display: table-cell;
    height: 80px;
    width: 112px;
    text-align: center;
    vertical-align: middle
}

.attachment-thumbnail-preview-power-up-logo-image {
    height: 45px;
    width: 45px
}

.attachment-thumbnail-preview-service-logo {
    background-size: 70px 70px;
    background-position: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    width: 112px
}

.attachment-thumbnail-preview-dropbox-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/dropbox-preview-logo.42567434cf318b8478e6.svg)
}

.attachment-thumbnail-preview-fogbugz-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/fogbugz-preview-logo.3875991b3c671e428a42.svg)
}

.attachment-thumbnail-preview-github-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/github-preview-logo.346c8ad70711bd0f575b.svg)
}

.attachment-thumbnail-preview-google-drive-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/google-drive-preview-logo.64011cc7e495af6d55d0.svg)
}

.attachment-thumbnail-preview-kiln-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/kiln-preview-logo.d23187d129d386fcae7b.svg)
}

.attachment-thumbnail-preview-trello-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/trello-preview-logo.07db7adfabb199709ad3.svg)
}

.attachment-thumbnail-preview-one-drive-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/onedrive-preview-logo.e4e5ea0947583d430483.svg)
}

.attachment-thumbnail-preview-box-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/box-preview-logo.f49ae2b057b81e9080b0.svg)
}

.attachment-thumbnail-preview-jira-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/jira-preview-logo.18df2a0ac64dbae343bd.svg)
}

.attachment-thumbnail-preview-confluence-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/confluence-preview-logo.c7eb25492fe84a5ea2b9.svg)
}

.attachment-thumbnail-preview-bitbucket-logo {
    background-image: url(https://a.trellocdn.com/prgb/dist/images/services/bitbucket-preview-logo.c1e9caefcf27e3dffe38.svg)
}

.attachment-thumbnail-preview-ext {
    color: #5e6c84;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%
}

.attachment-thumbnail-preview-ext:hover {
    color: #5e6c84
}

.attachment-thumbnail-preview-attachment-icon {
    line-height: 80px
}

.attachment-thumbnail-preview-plugin {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center 13px;
    display: block;
    height: 100%;
    opacity: .7;
    text-decoration: none;
    width: 100%;
    position: relative
}

.attachment-thumbnail-preview-plugin .attachment-thumbnail-plugin-enable-link {
    background: #000;
    bottom: 0;
    border-radius: 0 0 3px 3px;
    color: #dfe1e6;
    font-size: 12px;
    height: 20px;
    left: 0;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: 1
}

.attachment-thumbnail-preview-plugin .attachment-thumbnail-plugin-enable-link .icon-sm {
    color: #dfe1e6
}

.attachment-thumbnail-preview-plugin .attachment-thumbnail-plugin-enable-link:hover {
    background: rgba(0, 0, 0, .8);
    color: #fff
}

.attachment-thumbnail-preview-plugin .attachment-thumbnail-plugin-enable-link:hover .icon-sm {
    color: #fff
}

.attachment-thumbnail-preview-plugin:hover {
    color: #5e6c84
}

.attachment-thumbnail-details {
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px 8px 8px 128px;
    min-height: 80px;
    margin: 0;
    z-index: 0
}

.attachment-thumbnail-details .attachment-thumbnail-name {
    font-weight: 700;
    word-wrap: break-word
}

.attachment-thumbnail-details .attachment-thumbnail-name.hide {
    display: none
}

.attachment-thumbnail-details textarea.attachment-thumbnail-details-title {
    background: transparent;
    border-radius: 3px;
    height: 20px;
    font-weight: 700;
    margin: -3px -5px;
    min-height: 20px;
    padding: 2px 4px
}

.attachment-thumbnail-details textarea.attachment-thumbnail-details-title:focus {
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf
}

.attachment-thumbnail-details-title-action {
    padding-left: 3px
}

.attachment-thumbnail-details-title-options {
    margin-bottom: 8px
}

.attachment-thumbnail-details-title-options span:not(:first-child):before {
    content: " - "
}

.attachment-thumbnail-details-title-options-item {
    font-size: 14px;
    margin-bottom: 8px
}

.attachment-thumbnail-details-options-item {
    border-radius: 3px;
    margin-right: 8px;
    text-decoration: none
}

.attachment-thumbnail-details-options-item-text {
    text-decoration: underline
}

.attachment-viewer {
    color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center
}

.attachment-viewer-header {
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 40
}

.attachment-viewer-header-close-icon {
    color: hsla(0, 0%, 100%, .6);
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0;
    transition-property: transform, color;
    transition-duration: .15s
}

.attachment-viewer-header:hover {
    cursor: pointer
}

.attachment-viewer-header:hover .attachment-viewer-header-close-icon {
    color: #fff;
    transform: scale(1.2)
}

.attachment-viewer-underlay {
    top: 0;
    bottom: 100px
}

.attachment-viewer-overlay, .attachment-viewer-underlay {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    right: 0;
    left: 0
}

.attachment-viewer-overlay {
    height: 100px;
    bottom: 0;
    z-index: 30
}

.attachment-viewer-frames {
    transition: transform .15s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.attachment-viewer-frames-next-hint .attachment-viewer-frames {
    transform: translateX(-5%)
}

.attachment-viewer-frames-prev-hint .attachment-viewer-frames {
    transform: translateX(5%)
}

.attachment-viewer-frame {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: transform .15s
}

.attachment-viewer-frame-left {
    transform: translateX(-100%)
}

.attachment-viewer-frame-right {
    transform: translateX(100%)
}

.windows.explorer .attachment-viewer-frame-preview-wrapper, .windows.firefox .attachment-viewer-frame-preview-wrapper {
    left: 48px;
    right: 48px
}

.attachment-viewer-frame-preview-wrapper {
    bottom: 0;
    left: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 24px
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar {
    height: 9px;
    width: 9px
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-button:end:increment, .attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-button:start:decrement {
    background: transparent;
    display: block;
    height: 48px
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-button:end:increment {
    height: 112px
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-track-piece {
    background: transparent
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0
}

.attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-thumb:horizontal, .attachment-viewer-frame-preview-wrapper::-webkit-scrollbar-thumb:vertical {
    background: hsla(0, 0%, 100%, .2);
    border-radius: 5px;
    display: block;
    height: 50px
}

.attachment-viewer-frame-preview {
    box-sizing: border-box;
    padding: 48px 24px 112px;
    height: 100%
}

.attachment-viewer-frame-preview.attachment-viewer-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.attachment-viewer-frame-preview-image-wrapper {
    height: auto
}

.attachment-viewer-frame-preview-image {
    border-radius: 3px;
    max-width: 100%;
    opacity: 0;
    position: relative;
    z-index: 10;
    transition: transform .15s, opacity .4s
}

.attachment-viewer-frame-preview-placeholder {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 25% auto 0;
    opacity: 0
}

.attachment-viewer-frame-preview-placeholder-link {
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    margin: 8px auto;
    padding: 16px 24px;
    max-width: 250px
}

.attachment-viewer-frame-preview-placeholder-link:hover {
    background: hsla(0, 0%, 100%, .1);
    color: #fff
}

.attachment-viewer-frame-preview-audio {
    opacity: 0
}

.attachment-viewer-frame-preview-video {
    max-height: 100%;
    opacity: 0
}

.attachment-viewer-frame-preview-iframe {
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    opacity: 0;
    padding: 12px;
    width: 100%
}

.attachment-viewer-frame-loaded .attachment-viewer-frame-preview-audio, .attachment-viewer-frame-loaded .attachment-viewer-frame-preview-iframe, .attachment-viewer-frame-loaded .attachment-viewer-frame-preview-image, .attachment-viewer-frame-loaded .attachment-viewer-frame-preview-placeholder, .attachment-viewer-frame-loaded .attachment-viewer-frame-preview-video {
    opacity: 1
}

.attachment-viewer-frame-details {
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    height: 100px;
    left: 0;
    padding: 12px 10%;
    position: absolute;
    right: 0;
    z-index: 30
}

.attachment-viewer-frame-details a, .attachment-viewer-frame-details a:hover {
    color: #fff
}

.attachment-viewer-next-frame-btn, .attachment-viewer-prev-frame-btn {
    position: absolute;
    height: 100px;
    bottom: 0;
    z-index: 40
}

.attachment-viewer-next-frame-btn {
    right: 0;
    width: 10%
}

.attachment-viewer-prev-frame-btn {
    left: 0;
    width: 10%
}

.attachment-viewer-next-frame-btn-icon, .attachment-viewer-prev-frame-btn-icon {
    opacity: .4;
    padding: 36px;
    position: absolute;
    top: 0;
    transition: transform .15s, opacity .4s
}

.attachment-viewer-next-frame-btn-icon {
    right: 0
}

.attachment-viewer-prev-frame-btn-icon {
    left: 0
}

.attachment-viewer-frames-next-hint .attachment-viewer-next-frame-btn-icon, .attachment-viewer-frames-prev-hint .attachment-viewer-prev-frame-btn-icon {
    opacity: 1
}

.attachment-viewer-frames-next-hint .attachment-viewer-next-frame-btn-icon {
    transform: translateX(5%) scale(1.2)
}

.attachment-viewer-frames-prev-hint .attachment-viewer-prev-frame-btn-icon {
    transform: translateX(-5%) scale(1.2)
}

.attachment-viewer-option-icon {
    margin: 0 3px 0 14px
}

.attachment-viewer-delete-link {
    margin: 0 0 0 6px
}